# Environment
.env
.env.local

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# Chroma (vector DB )
chroma_db/

# Cloned repos (temp files from ingestion)
tmp/
temp/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/